{:deps {}

 :aliases
 {:test
  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.85.1342"}
                buddy/buddy-sign {:mvn/version "3.5.346"}
                com.taoensso/nippy {:mvn/version "3.3.0-alpha2"}
                org.slf4j/slf4j-api {:mvn/version "2.0.7"}
                ch.qos.logback/logback-classic {:mvn/version "1.4.8"}
                ;; Use the OCI java SDK for comparision
                com.oracle.oci.sdk/oci-java-sdk-common {:mvn/version "3.17.1"}
                ;; For running test requests
                http-kit/http-kit {:mvn/version "2.6.0"}}
   :extra-paths ["dev-resources"]
   :main-opts ["-m" "kaocha.runner"]}

  :watch
  {:main-opts ["-m" "kaocha.runner" "--watch"]}}}
