{:deps {org.clojure/tools.logging {:mvn/version "1.2.4"}}

 :aliases
 {:test
  {:extra-deps {com.monkeyprojects/build {:mvn/version "0.1.0-SNAPSHOT"}
                buddy/buddy-sign {:mvn/version "3.5.346"}
                com.taoensso/nippy {:mvn/version "3.3.0-alpha2"}
                org.slf4j/slf4j-api {:mvn/version "2.0.7"}
                ch.qos.logback/logback-classic {:mvn/version "1.4.8"}
                ;; Use the OCI java SDK for comparision
                com.oracle.oci.sdk/oci-java-sdk-common {:mvn/version "3.17.1"}
                ;; For running test requests
                http-kit/http-kit {:mvn/version "2.6.0"}
                yogthos/config {:mvn/version "1.2.0"}}
   :extra-paths ["dev-resources" "test"]
   :exec-fn monkey.test/all}

  :watch
  {:exec-fn monkey.test/watch}
  
  :junit
  {:exec-fn monkey.test/junit}

  :coverage
  {:exec-fn monkey.test/coverage
   :exec-args {:ns-regex ["monkey.oci.sign.*"]}}

  :jar
  {:extra-deps {com.monkeyprojects/build {:mvn/version "0.1.0-SNAPSHOT"}}
   :exec-fn monkey.build/jar
   :exec-args {:jar "target/oci-sign.jar"
               :lib "com.monkeyprojects/oci-sign"
               :version "0.1.0-SNAPSHOT"
               :scm {:url "https://github.com/monkey-projects/oci-sign"}}}

  :install
  {:exec-fn monkey.build/jar+install}

  :deploy
  {:exec-fn monkey.build/deploy}}}
